@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary-accent: #14b8a6;

  --color-background: #f8fafc;
  --color-card-background: #ffffff;
  --color-primary-border: #eaeff4;

  --color-secondary-text: #5c6f8a;
  --color-primary-text: #000000;

  --color-primary-green: #34d399;
  --color-primary-yellow: #fbbf24;
  --color-primary-red: #f87171;

  --color-status-created: #94a3b8;
  --color-status-approved: #3c83f6;
  --color-status-executed: #fb923c;
  --color-status-partial: #fbbf24;
  --color-status-completed: #34d399;
  --color-status-cancelled: #f87171;

  --color-pending: #a855f7;
}

.dark {
  --color-primary-accent: #f59e0b;

  /* Neutral Dark Theme */
  --color-background: #0a0a0a;
  --color-card-background: #141414;
  --color-primary-border: #262626;

  --color-secondary-text: #a3a3a3;
  --color-primary-text: #ffffff;

  --color-primary-green: #34d399;
  --color-primary-yellow: #fbbf24;
  --color-primary-red: #f87171;

  --color-status-created: #94a3b8;
  --color-status-approved: #60a5fa;
  --color-status-executed: #fb923c;
  --color-status-partial: #fbbf24;
  --color-status-completed: #34d399;
  --color-status-cancelled: #f87171;

  --color-pending: #a855f7;
}

.label-text {
  @apply text-[12px] text-secondary-text font-medium;
}

body{
    font-family: "Red Hat Display", sans-serif;
}

.title-text {
    @apply font-semibold text-[19px];
}

.sub-text {
    @apply text-[13px];
}

.normal-text {
    @apply text-[16px] font-medium;
}

.mid-text{
    @apply text-[14px]
}

.input-field {
    @apply w-full bg-primary-border/10 border border-primary-border rounded-lg px-3 py-2 text-sm text-primary-text placeholder-secondary-text/50 focus:outline-none focus:border-primary-accent/60 transition-colors duration-150;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & old Edge */
  scrollbar-width: none;     /* Firefox */
}